html{
  background-color: cornsilk;
}

h1{
  font-weight: normal;
  font-size: 3rem;
  font-style: normal;
  text-decoration: ;
  font-family: "Bevan", cursive;
  line-height: 0;
  color: #903;

}

h2{
  font-weight: normal;
  font-size: 2rem;
  font-style: normal;
  text-decoration: ;
  font-family: "Bevan", cursive;
  line-height: 0;
  color: #903;
}

h3{
  font-weight: normal;
  font-size: 1rem;
  font-style: normal;
  text-decoration: ;
  font-family: "Bevan", cursive;
  line-height: 0;
  color: #903;
}

body{
  font-family: 'Oswald', sans-serif;
}
ol{
  padding: 0;
}

.lower-roman {
  list-style-type: lower-roman;
  padding: 30px;
}

a{
  color: #000;
}

a:hover{
  color: #f99;
}

em{
  color: #6c9;
}

.no-color {
  color: #000;
}

footer {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

blockquote{
  font-size: 2rem;
  font-style: italic;
}

span{
  color: #666;
}

figcaption{
  font-style: italic;
  font-size: .65rem;
}

dt{
  font-weight: bold;
}

.bullet{
  list-style-type: circle;
  padding: 30px;
}
